/* 초기화 */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url(img/background_img_2.png);
    background-size: cover;
}

/* 기본 세팅 */
h1 {
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: xxx-large;
}

/* 틀 */
.calculator {
    width: 500px;
    height: 800px;
    margin: 100px 0px;
}

/* 상단 */
.top {
    height: 25%;
    background-color: #122142;
    border: 5px solid #657346;
    display: flex;
    justify-content: end;
    align-items: center;
    padding:0 20px;
    box-shadow: 0px 0px 40px #bfda85;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

/* 상단 계산 결과 */
.cal_result {
    width: 82%;
    height: 73%;
    box-shadow: 0 0 20px red;
    border: 5px solid red;
    border-radius: 5%;
}

/* 하단 */
.bottom {
    height: 75%;
    background-color: #122142;
    border: 5px solid #657346;
    border-top: 0px;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 0 40px #bfda85;
    border-top-color: transparent;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.btn_1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px;
}

.btn_2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px;
}

.btn_3 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px;
}

.btn_4 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px;
}

/* 버튼 */
.btn {
    width: 80px;
    height: 80px;
    font-family: 'Press Start 2P', cursive;
    color: white;
    font-size: large;
    border: 5px;
    border-color: #232b3b;
    border-radius: 50%;
    background-color: #54678C;
    text-shadow: /* White glow */ 0 0 20px pink;
    box-shadow: 0 0 20px #7789ac
}

.btn:hover {
    color: white;
    background-color: #273c68;
    transition: 1000ms;
}

.dark:hover {
    color: white;
    background-color: #d63e52;
    transition: 1000ms;
}

#equal {
    height: 193px;
    border-radius: 20px;
}

.dark {
    background-color: #8b4687;
}

/* 다크모드 */

@media (prefers-color-scheme: light) {
.calculator {
    background: white;
    color: black;
    }

    /* 배경 */
body {
    display: flex;
    justify-content: center;
    background-image: url(img/background_img_light_2.png);
    background-size: cover;
}

.calculator{
    background-color: #FCF5E1;

}

    /* 상단 */
.top {
    height: 25%;
    border: 5px solid rgb(192, 115, 42);
    background-color: antiquewhite;
    display: flex;
    justify-content: end;
    align-items: center;
    padding:0 20px;
    box-shadow: 0px 0px 50px rgb(129, 77, 29);
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

h1 {
    color: black;
}

    /* 하단 */
.bottom {
    height: 75%;
    background-color: antiquewhite;
    border: 5px solid rgb(192, 115, 42);
    border-top: 0px;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 0 50px rgb(129, 77, 29);
    border-top-color: transparent;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

    /* 버튼 */
.btn {
    width: 80px;
    height: 80px;
    background: rgb(240, 203, 154);
    font-family: 'Press Start 2P', cursive;
    color: rgb(0, 0, 0);
    font-size: large;
    border: 5px;
    border-color: pink;
    border-radius: 50%;
    text-shadow: 0 0 12px rgb(110, 79, 20);
    box-shadow: 0 0 30px rgb(197, 173, 64);
}

.btn:hover {
    color: white;
    background-color: rgb(194, 164, 67);
    transition: 1000ms;
}

#equal {
    height: 193px;
    border-radius: 20px;
}
}

.dark {
    background-color: #F28972;
}

.dark:hover {
    color: white;
    background-color: #992d18;
    transition: 1000ms;
}